.beer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 100px;
  padding: 0;
}
.single-beer__image {
    margin: 10px;
    padding: 10px;
    width: 350px;
    text-transform: uppercase;
    color: #000;
    border: 2px solid;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
      5px 5px 0px 0px;
      background-color: #f29f05;
    user-select: none;
    -webkit-user-select: none;
    text-align: center;
  }
  .image-beer {
    width: 150px;
    height: 500px;
  }
  .description {
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
  }
  .specification {
    padding-top: 20px;
    padding-left: 20px;
    max-width: 300px;
    
  }
  .specification p {
    border: 1px solid;
    padding: 5px;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
      5px 5px 0px 0px;
  }
  .specification h3 {
    text-align: center;
  }
  .tips {
    margin: auto;
    width: 600px;
    text-align: center;
  }
