@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@700&display=swap');

.Auth-form-container {
  background-image: url("../../../public/images/beer.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Blinker', sans-serif; 
}  


.Auth-form {
  width: 420px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
  5px 5px 0px 0px;
  border: 1px solid;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
  padding: 5px 0 5px 0;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
.form-group {
  display: grid;
}
.form-button {
  text-align: center;
  padding: 20px 0 5px 0;
  
}
.btn {
  max-width: 200px;
}
.forgot-password, .register-link{
  display: flex;
  justify-content: center;
}
.forgot-password a{
  padding-left: 3px;
}
.error-message {
  margin: 0;
  font-size: 10px;
  color: red;
}