@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@700&display=swap');
.App-container {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'Blinker', sans-serif;
}
h1 {
  text-align: center;
  font-family: 'Blinker', sans-serif;
  font-size: 50px;
}
.beer_list ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 10px;
  padding: 0;
}
.search-beer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.button-search {
  padding-left: 15px;
}
